p.notice {
    background-color: #ffcc00;
    color: #000;
    display: block;
    font-family: Courier, monospace;
    line-height: 140%;
    font-size: 1.2em;
    padding: 0.85em;
    margin: 1.35em;
    width: 25em;
}
p.error {
    background-color: #e32;
    color: #fff;
    font-family: Courier, monospace;
    font-size: 120%;
    line-height: 140%;
    padding: 0.8em;
    margin: 1em 0;
}
p.hidden {
    padding: 0;
    margin: 0 !important;
    border: none;
    display: none;
}
div.notice {
    background-color: #ffcc00;
    color: #000;
    display: block;
    font-family: Courier, monospace;
    line-height: 140%;
    font-size: 1.2em;
    padding: 0.85em;
    margin: 1.35em;
    width: 25em;
}
form {
    margin: 1.6em;
    padding: 1em;
    line-height: 1.122;
    background-color: #feffbf;
}
form#upload {
    margin: 1.6em;
    padding: 1em;
    width: 30em;
    line-height: 1.122;
    background-color: #feffbf;
}
form#edit {
    margin: 1.6em;
    margin-top: 0;
    padding: 1em;
    width: 42em;
    line-height: 1.122;
    background-color: #feffbf;
}
form.search {
    margin: 0 0 0 0;
    background-color: #ffffff;
}
table.search {
    background-color: #ffffff;
    border-width: 4px;
    border-style: outset;
    border-color: #cccccc;
    border-collapse: separate;
    width: 600px;
}
table.search td {
    border-width: 1px;
    border-style: inset;
    border-color: #cccccc;
    padding: 1px;
    text-align: center;
}
table.narrow {
    width: 27em;
}
table#search_cell input[type="text"] {
    width: 9em;
}
div#edit_head {
    margin: 1.6em;
    margin-bottom: 0;
    width: 44em;
}
div#edit_head div {
    font-size: 1.2em;
}
div#edit_head div h2 {
    margin: 0;
    font-size: 1.2em;
}
div#edit_head div ul {
    margin: 0;
}
.input textarea#cifs {
    font-size: 1.1em;
}
.input textarea#logmessage {
    font-size: 1.1em;
}
form#upload label {
    display: block;
    background-color: #AEEF0E;
    padding: 0.1em 0.4em;
}
form#edit label, label[for="logmessage"] {
    display: block;
    background-color: #AEEF0E;
    padding: 0.1em 0.4em;
    width: 40.6em;
}
form input[type="submit"] {
    margin: 0.5em 1em 1em 0;
}
form input[type="reset"] {
    margin: 0.5em 1em 1em 0;
}

div.good, #validation tr.good {
    background-color: #00cf1c;
    color: #fff;
    line-height: 140%;
    padding: 0.8em;
    margin: 1em 0;
}

#validation tr.errors, #validation tr.fault {
    background-color: #e32;
    color: #fff;
    line-height: 140%;
    padding: 0.8em;
    margin: 1em 0;
}
#validation tr.undeposited {
    background-color: #e32;
    color: #fff;
    line-height: 140%;
    padding: 0.8em;
    margin: 1em 0;
}
div.errors ul {
    list-style-type: none;
}
div.errors ul li {
    font-family: monospace;
}
#validation td.space {
    font-size: 30%;
    border: 0px;
}

#validation tr.warnings {
    background-color: #ffcc00;
    color: #000;
    line-height: 140%;
    padding: 0.8em;
    margin: 1em 0;
}
#validation tr.notices {
    background-color: #a9d0f5;
    color: #000;
    line-height: 140%;
    padding: 0.8em;
    margin: 1em 0;
}
.monospace {
    font-family: Courier, monospace;
    font-size: 120%;
}
/*
Style definition below is not working as expected, as it produces very
lines with &nbsp; instead of spaces. It should be added to excerpts
only.

.monospace li {
    white-space: pre;
}
*/
.duplicate, .unchanged {
    background-color: gray;
    color: white;
}
.warnings {
    background-color: #ffcc00;
    color: #000;
}
.errors, .undeposited {
    background-color: #e32;
    color: #fff;
}
.notices {
    background-color: #a9d0f5;
    color: #000;
}

tr.messages {
    background-color: gray;
}

.required_indicator {
    color: red;
}

dl dt {
    font-weight: bold;
}
dl dt em {
    text-decoration: underline;
}

dl dd ul {
    padding: 0;
    margin: 0;
    list-style-position: inside;
    list-style-type: none;
}

dl dd ul li:before {
    content: "\00BB \0020";
}

span.tagname {
    font-weight: bold;
    font-style: italic;
}

#validation {
    border: 1px solid #000;
}
#validation td, #validation th {
    border: 1px solid #000;
}
#validation td {
    padding: 0.4em;
}
#validation .messages h2 {
    margin: 0;
    font-size: 1.14em;
}
#validation .messages ul {
    margin: 0;
}
#validation form, #validation_globals form {
    margin: 0;
    padding: 0;
    line-height: initial;
    background-color: initial;
    display: inline;
}
#validation input, #validation_globals input {
    margin: 0;
}
#validation_globals {
    width: 100%;
    min-height: 3em;
}
tbody tr.warnings td ul li a {
    color: #000;
}
#validation tbody tr td ul li a:hover {
    text-decoration: none;
}
#validation tr.errors {
    background-color: #e32;
    color: #fff;
}
table tbody tr.warnings {
    background-color: #ffcc00;
    color: #000;
}
#validation tr.valid {
    background-color: #00cf1c;
    color: #fff;
}
#validation tr.edited, #validation tr.crude {
    background-color: #efefef;
}
#validation tr.deposited {
    background-color: #0066aa;
    color: #fff;
}
#validation tr.validating {
    background-color: #fff;
    color: #000;
}
#validation tr.depositing {
    background-color: #fff;
    color: #000;
}
#validation tr.pairing {
    background-color: #fff;
    color: #000;
}
#validation tr.messages td div {
    padding: 0;
    margin: 0;
    font-weight: 0.96em;
}
#validation tr.messages td div h2 {
    font-weight: normal;
}
#validation tr.deposited td div.good {
    background-color: #0066aa;
}
#progress_indicator {
    border-collapse: collapse;
    width: 90%;
    text-align: center;
    vertical-align: middle;
    padding: 0;
    margin: 0 1.6em 0 1.6em;
}
#progress_indicator tr td {
    padding: 0;
/*    margin: 0; */
}
#past_stage {
    background-image: url("../images/chevron-left.gif"),
                      url("../images/chevron-right.gif");
    background-repeat: no-repeat;
    background-position: left, right;
    background-color: #00cf1c;
}
#current_stage {
    background-image: url("../images/chevron-left.gif"),
                      url("../images/chevron-right.gif"),
                      url("../images/stripes.gif");
    background-repeat: no-repeat, no-repeat, repeat;
    background-position: left, right, left;
    background-color: #00cf1c;
}
#future_stage {
    background-image: url("../images/chevron-left.gif"),
                      url("../images/chevron-right.gif");
    background-repeat: no-repeat;
    background-position: left, right;
    background-color: #feffbf;
}
#stage_pointer {
    min-width: 25px;
    max-width: 25px;
}
a.no_decoration {
    text-decoration: none;
}
span.bold, a.bold {
    font-weight: bold;
}
a.count_valid {
    color: #00cf1c;
}
a.count_deposited {
    color: #0066aa;
}
a.count_warnings {
    color: #ffcc00;
}
a.count_duplicate, a.count_queued_for_validation,
a.count_queued_for_pairing, a.count_unchanged {
    color: gray;
}
a.count_errors, a.count_fault {
    color: #e32;
}
a.count_undeposited {
    color: #e32;
}
a.count_validating, a.count_pairing, a.count_depositing {
    color: #000;
}
span.process_name {
    color: #e32;
}

a.structureReference {
    color: #ffffff;
}
div.padded {
    line-height: 140%;
    padding: 0.8em;
    margin: 1em 0;
}
ul.links {
    list-style-type: none;
    padding: 0 0.5em 0 2em;
    text-indent:-1em;
}
ul.links a {
    text-decoration: none;
}
table.links {
    width: 100%;
    border-collapse:collapse;
}
table.links th {
    color: #ffffff;
    background-color: #0066aa;
    padding: 0 0 0 0.25em;
}
table.links td {
    color: #000000;
    background-color: #a9d0f5;
}
#information
{
    border-collapse:collapse;
    background-color: #f0f0f0;
}
#information th, tr.alt
{
    background-color: #d0d0d0;
}
#information td, th
{
    padding: 0.1em 0.5em 0.1em 0.5em;
    vertical-align: top;
}
#information th
{
    text-align: left;
}
#information th span
{
    white-space: nowrap;
}
div.news
{
    padding-left: 4.5em;
    padding-right: 4.5em;
    text-align: left;
}
div.textpanel
{
    padding: 0.5em 0.5em 0.5em 0.5em;
    margin: 0 0 0 0;
    border-style: solid;
    border-top-style: none;
    border: 1;
    border-width: 1px;
    border-color: #0066aa;
    text-align: left;
}
div.textpanel p
{
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}
div.textpanelhead
{
    color: #0066aa;
    background-color: #a9d0f5;
    padding: 0 0 0 0.25em;
    text-align: left;
    font-weight: bold;
    border-style: solid;
    border: 1;
    border-width: 1px;
    border-color: #0066aa;
}

/* Search by structural formula meniu */
#menu {
    list-style: none;
    padding: 0 0 0 0;
    margin: 0;
}
#menu li {
    float: left;
    padding: 0 0 15px 0;
    border: 0;
    position: relative;
}
#menu ul {
    list-style: none;
}
#menu ul li {
    float: none;
    margin: 0;
    padding: 0 0 0 15px;
}

/* A child selector matches when an element is the child of some element. 
A child selector is made up of two or more selectors separated by ">".
http://www.w3.org/TR/CSS2/selector.html */
/*nav > ul > li > ul {
    padding: 0 0 0 0;
    display: none;
    visibility: hidden; 
}*/
/* Adjacent sibling selectors have the following syntax: E1 + E2, where E2 is
the subject of the selector. The selector matches if E1 and E2 share the same
parent in the document tree and E1 immediately precedes E2, ignoring non-element
nodes (such as text nodes and comments).
http://www.w3.org/TR/CSS2/selector.html */
/* nav input[type="checkbox"]:checked + ul {
    display: block;
    visibility: visible;
} */
#draw {
    background-color:#FFF;
    padding: 0 100 0 0;
    margin: 0;
}
#draw-str-search {
    vertical-align: top;
}

/* Morzilla kūrėjų pavyzdys, kaip sukurti 'dropdown' meniu be javascript.
https://developer.mozilla.org/en-US/docs/Web/CSS/:checked */
#lbl_search_formula {
    color: blue;
}

#isexpanded:checked ~ #lbl_search_formula {
    color: #660099;
}

.isexpanded, .expandable {
    display: none;
}
.isexpanded + label, .isexpanded + label span {
    cursor:pointer;
}
.isexpanded + label span {
    display:inline-block;
    width:10px;
    height:10px;
    margin:0 7px 0 0;
    vertical-align:middle;
    background:url(../images/arrow-right.gif) left top no-repeat;
}
.isexpanded:checked + label span {
    background:url(../images/arrow-down.gif) left top no-repeat;
}
.isexpanded:checked ~ * li.expandable {
    display: block;
}
.isexpanded:checked ~ div.expandable {
    display: block;
}
td .isexpanded2:checked + td div.expandable {
    display: block;
}
.infoheader {
    font-size: 150%;
    font-weight: bold;
}
form.pagination
{
    margin: 0;
    padding: 0em;
    line-height: 1;
    background-color: #ffffff;
}
p.narrow
{
    font-family: initial;
    font-size: medium;
    line-height: normal;
    padding: 0;
}
a.feedlink
{
    background-image: url("../images/rss.svg");
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 12px 12px;
    padding-right: 16px;
}
